@model WebApplication2.Models.User

@{
    ViewBag.Title = "RegistrationSuccess";
}

<h3 style="text-align:center; padding-top:100px;padding-bottom:700px">Your details are submitted successfully</h3>

