

@{
    ViewBag.Title = "IndexAdmin";
}

<h2 style="color:darkgreen; text-align:center; padding-top:200px">Hi Admin!!! </h2>
<h2 style="color:darkgreen; text-align:center; padding-top:20px">Welcome Back!!! </h2>
<h1 style="color:darkgreen; text-align:center; padding-top:100px; padding-bottom:420px "> CLAIMS MANAGEMENT SYSTEM</h1>


