@model WebApplication2.Models.Claim

@{
    ViewBag.Title = "ApproveClaim";
}

<h3 style="text-align: center;padding-top: 100px;padding-bottom: 700px">The Claim Id:@Model.ClaimId has been Approved</h3>
