@model WebApplication2.Models.UserCredential

@{
    ViewBag.Title = "Approve";
}

<h3 style="text-align: center;
        padding-top: 100px;
        padding-bottom: 700px">The Registration Of Member Id:@Model.UserId has been Approved</h3>

